$borderRadiusLg: 24px;
$borderRadiusMd: 16px;
$borderRadiusSm: 8px;

$webHeaderHeight: 80px;
$mobileHeaderHeight: 78px;

$viewportHeight: calc(100vh - #{$webHeaderHeight});
$mobileViewportHeight: calc(100vh - #{$mobileHeaderHeight});
$xNFTHeight: calc(100vh - 102px);


$maxWindowHeightForPurchaseDialog: 850px;

$iconSize: 24px;

:export {
  borderRadiusLg: $borderRadiusLg;
  borderRadiusMd: $borderRadiusMd;
  borderRadiusSm: $borderRadiusSm;

  viewportHeight: $viewportHeight;
  mobileViewportHeight: $mobileViewportHeight;
  xNFTHeight: $xNFTHeight;

  maxWindowHeightForPurchaseDialog: $maxWindowHeightForPurchaseDialog;

  iconSize: $iconSize;
}